@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
  // font-size: calc(100vw / 1920 * 10);

  font-size: 10px;

  @include breakpoint(1340px) {
    font-size: calc(100vw / 1340 * 10);
  }
  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1300 * 10);
  }
  @include breakpoint($lg-bp) {
    font-size: calc(100vw / 830 * 10);
  }
  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}



*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  color: $black;

  background-color: white;

  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
  }
}

button {
  font-family: Montserrat, sans-serif;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

a {
  text-decoration: none;
  color: $black;
  transition: all 0.1s linear;

  &:hover {
    color: $primary;
  }
}

svg {
  transition: all 0.1s linear;
}

.chevron {
  width: 2.8rem;
  height: 2.8rem;

  fill: $black;
}

/* Vendors */

@import "vendor/swiper";
@import "vendor/choices";

/* Blocks */

@import "blocks/page";
@import "blocks/container";
@import "blocks/breadcrumbs";
@import "blocks/header";
@import "blocks/filled-btn";
@import "blocks/tabs";
@import "blocks/custom-checkbox";
@import "blocks/custom-radio";

// @import "blocks/menu";

@import "blocks/intro";
@import "blocks/producers";
@import "blocks/popular";
@import "blocks/clients";
@import "blocks/areas-use";
@import "blocks/about";

@import "blocks/category";

@import "blocks/product";

@import "blocks/catalog";

@import "blocks/compare";

@import "blocks/about-page";

@import "blocks/contacts.scss";

@import "blocks/questnry.scss";

@import "blocks/footer";

// Kostya files

@import "./blocks/brands.scss";

@import "./blocks/brandsSecondLevel.scss";

@import "./blocks/article.scss";

.hide {
  display: none;
}

.show {
  display: block;
}
