.newsContainer {
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 2rem;

    .newsImgContainer {
        img {
            width: 100%;
        }
    }

    
    .newsBanner {
        width: 77.15rem;
        height: 8.2rem;
        background: #2E2A2B;
        clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
        position: relative;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 3rem;
        line-height: 120%;
        color: #FFFFFF;
        display: flex;
        justify-content: flex-end;
        padding-right: 8.4rem;
        align-items: center;
        top: -5.1rem;
        left: -35rem;
    }

    .dateContainer {
        margin-bottom: 9rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        .dateTitle {
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 140%;
            color: #503E3F;
            opacity: 0.8;
        }

        .dateDescription {
            width: 83.2rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 140%;
            color: #503E3F;
            opacity: 0.8;
        }
    }
}

@include breakpoint($lg-bp) {
    .newsContainer {
        display: none;
    }
  }

.newsContainerMobile {
    display: none;
    

    @include breakpoint($lg-bp) {
        display: block;
        width: 100%;
        font-family: 'Montserrat';
        font-style: normal;

        .newsImgContainer {
            width: 100%;
            img {
                width: 100%;
            }
        }

        .newsBanner {
            width: 100%;
            height: 4.2rem;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 120%;
            color: #FFFFFF;
            background: #2E2A2B;
            display: flex;
            align-items: center;
            padding-left: 0.8rem;
            margin-bottom: 1.4rem;
        }

        .dateContainer {
            width: 100%;
            padding-left: 0.8rem;
            padding-right: 0.8rem;

            .dateTitle {
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 140%;
                color: #503E3F;
                opacity: 0.8;
                margin-bottom: 0.8rem;
            }

            .dateDescription {
                width: 100%;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 140%;
                color: #503E3F;
                opacity: 0.8;
            }
        }
      }
}

.commasContainer {
    font-family: 'Montserrat';
    font-style: normal;
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    gap: 3.4rem;

    .quoteContainer {
        width: 85.7rem;
        font-weight: 300;
        font-size: 32px;
        line-height: 39px;
        color: #454545;
    }

    .profileContainer {

        display: flex;
        align-items: center;
        gap: 3.9rem;
        margin-top: 3rem;
        margin-bottom: 9rem;

        .avatarContainer {

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3.9rem;

            
    
    
            .avatarNameContainer {
                display: flex;
                flex-direction: column;
    
                h1 {
                    font-weight: 400;
                    font-size: 3.6rem;
                    line-height: 4.4rem;
                    color: #070C30;
                }
    
                p {
                    font-weight: 200;
                    font-size: 2.3rem;
                    color: #070C30;
                }
            }
    
        }

    }
    
}

@include breakpoint($lg-bp) {
    .avatarContainer {
        img {
            width: 5rem;
            height: 5rem;
        }
    }
  }

@include breakpoint($lg-bp) {
    .commasContainer {
        display: none;
    }
    
  }

.commasContainerMobile {
    display: none;
    font-family: 'Montserrat';
    font-style: normal;
    .redLineContainer {
        img {
            width: 3rem;
            height: 0;
            border-top: 6px solid #E30613;
        }
    }

    p:first-child {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        text-align: center;
        color: #070C30;
    }

    p:last-child {
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-align: center;
        color: #070C30;
    }

    @include breakpoint($lg-bp) {
            display: block;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            margin-top: 5.2rem;
            margin-bottom: 6.1rem;

            .commasImgContainer {
                img {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }

            .quoteContainer {
                text-align: center;
                font-weight: 300;
                font-size: 1.4rem;
                line-height: 1.7rem;
                text-align: center;
                color: #454545;
                margin-top: 1.4rem;
                margin-bottom: 2.6rem;
            }

            .profileContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                

                .avatarContainer {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    margin-top: 1.8rem;
                }

                .avatarNameContainer {
                    margin-top: 0.6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                }
            }
      }

}

.randomDescription {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    color: #503E3F;
    opacity: 0.8;
    width: 100%;
    max-width: 130rem;
    padding: 0 2rem;
    margin: 0 auto;

    div {
        width: 83.2rem;
    }
}

@include breakpoint($lg-bp) {
    .randomDescription {
        display: none;
    }
    
  }

.randomDescriptionMobile {
    display: none;

    @include breakpoint($lg-bp) {
            display: block;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 140%;
            color: #503E3F;
            opacity: 0.8;
    }

}

.mySwiper {

    width: 100%;
    max-width: 130rem;
    padding: 0 2rem;
    margin-top: 6.8rem;
    font-family: 'Montserrat';
    font-style: normal;

    img {
        width: 107.3rem;
        height: 49.2rem;
    }

    .sliderTextContainer {
        display: flex;
        gap: 17.1rem;
        margin-top: 3rem;

        @include breakpoint($lg-bp) {
            display: none;
        }
    }

    .sliderText {
        width: 74.2rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 140%;
        color: #503E3F;
        opacity: 0.8;
    }

    .arrowNavContainer {

        .arrrowNavHelpContainer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        
    
        .arrowPrev {
            transform: rotate(180deg);
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    
        .arrowNext {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    
        .borderLineContainer {
            display: flex;
            align-items: center;
        
            .borderLine {
                width: 8.4rem;
                border: 1px solid #240E0E;
                opacity: 0.2;
            }
        }
    }
        }
}



// .mySwiperMobile {
//     display: none;

//     @include breakpoint($lg-bp) {
//         display: block;
//         margin-top: 8rem;
//         font-family: 'Montserrat';
//         font-style: normal;

//         .swiper-pagination {
//             color: #E30613;
//         }
        
//         .sliderTextContainer {
//             padding-left: 0.8rem;
//             padding-right: 0.8rem;
//             margin-top: 2.9rem;
//             font-weight: 300;
//             font-size: 1.4rem;
//             line-height: 140%;
//             color: #503E3F;
//             opacity: 0.8;
            
//             p {
//                 margin-top: 1.2rem;
//             }
//         }
//     }
// }

.subtitleBannerContainer {
    margin-top: 10rem;
    .product-section__heading {
        width: max-content;

    padding: 2.3rem 0;
  
    background-color: #2E2A2B;
  
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
  
    @include breakpoint($lg-bp) {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      width: 100%;
  
      clip-path: none;
      padding: 2rem 5rem;
      margin-bottom: 0;
  
      cursor: pointer;
    }
  
    @include breakpoint($sm-bp) {
      padding: 2.8rem 0.8rem;
    }
  
    h2 {
      font-weight: 300;
      font-size: 3rem;
      color: white;
  
      margin-left: 33rem;
      margin-right: 7.8rem;
  
      @include breakpoint($lg-bp) {
        text-align: left;
  
        margin: unset;
      }
  
      @include breakpoint($sm-bp) {
        max-width: unset;
  
        font-size: 2rem;
      }
    }
  
    svg {
      display: none;
  
      width: 2.4rem;
      height: 2.4rem;
  
      fill: #fff;
  
      transform: rotate(-90deg);
  
      @include breakpoint($lg-bp) {
        display: block;
      }
    }
  
    &.active {
      svg {
        transform: rotate(90deg);
      }
    }
    }
}

@include breakpoint($lg-bp) {
    .subtitleBannerContainer {
        display: none;
    }
}


.subtitleBannerContainerMobile {
    display: none;
    
    @include breakpoint($lg-bp) {
        display: block;
        background: #2E2A2B;
        width: 100%;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 120%;
        color: #FFFFFF;
        padding-left: 0.8rem;
        padding-top: 1.1rem;
        margin-top: 11.1rem;
        padding-bottom: 1.1rem;
    }
    
}

.subtitleContainer {
    width: 100%;
    max-width: 130rem;
    // padding-left: 0.8rem;
    // padding-right: 0.8rem;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;

    @include breakpoint($lg-bp) {
        .subtitleText {
            width: 100%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 140%;
            color: #503E3F;
            opacity: 0.8;
        }
    }

    .subtitleText {
        width: 63.4rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 140%;
        color: #503E3F;
        opacity: 0.8;
        margin-top: 3rem;
        margin-bottom: 5rem;

        @include breakpoint($lg-bp) {
            
            width: 100%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 140%;
            color: #503E3F;
            opacity: 0.8;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            
        }
    }

    .videoContainer {
        width: 107.3rem;
        height: 49.2rem;
        background-color: pink;
        @include breakpoint($lg-bp) {
        width: 100%;
        height: 14.7rem;
        
        }
    }

    .warningContainer {
        margin-top: 9rem;
        width: 93.3rem;
        background-color: #2E2A2B;
        position: relative;
        margin-bottom: 9rem;
        padding-bottom: 3.9rem;

        @include breakpoint($lg-bp) {
        
            width: calc(100% - 1.6rem);
            height: max-content;
            padding-right: 3rem;
            padding-bottom: 2.3rem;
            margin-left: 0.8rem;
            margin-right: 0.8rem;
            
            .warningImgContainer {
                position: absolute;
                top: 1.2rem;
                left: 1.2rem;
                opacity: 0.3;
            }

            img {
                width: 2.1rem;
                height: 2.1rem;
            }

            }

        .warningImgContainer {
            position: absolute;
            top: 1.9rem;
            right: 2.4rem;
            opacity: 0.3;
        }

        .warningTextContainer {

            padding-top: 4.2rem;
            padding-left: 4.2rem;
            display: flex;
            flex-direction: column;
            gap: 1.1rem;
            font-family: 'Montserrat';
            font-style: normal;

            @include breakpoint($lg-bp) {
                padding-left: 1.2rem;
                width: 100%;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2.4rem;
 
                
                }

            h1 {
                font-weight: 500;
                font-size: 2.4rem;
                line-height: 120%;
                color: #FFFFFF;
            }
    
            p {
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: #FFFFFF;
                opacity: 0.5;
                width: 74.1rem;

                @include breakpoint($lg-bp) {
        
                    width: 100%;
                    
                    
                    }
            }
        }
    }
}

.tableContainer {

    width: 93.1rem;
    margin-bottom: 7.5rem;
    line-height: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    word-break: break-all;
    font-size: 1.8rem;
    color: #454545;

    @include breakpoint($lg-bp) {
        width: 100%;
        .parent {
            div {
                font-size: 1.4rem;
                line-height: 100%;
            }
        }
    }
    .tableContainer__itemContainer {
        border-bottom: 0.6rem solid #E30613;
        display: flex;
        align-items: center;
        div {
            color: #333333;

            opacity: 0.5;
            font-size: 1.6rem;
            padding-top: 2.1rem;
            padding-bottom: 2.1rem;
            padding-left: 1.2rem;
            width: 50%;
            @include breakpoint($lg-bp) {
                padding-left: 0.8rem;
                padding-bottom: 0.8rem;
            }
        }
    }

    .parent {
        .parent__itemContainer {
            display: flex;
            align-items: center;
            &:nth-of-type(2n) {
                background-color: #e306150e;
            }
            div {
                padding-left: 1.2rem;
            }
            .parent__item:first-child {
                padding-left: 3rem;
            }
            @include breakpoint($lg-bp) {
                .parent__item:first-child {
                    padding-left: 0.8rem;
                }
            }
            div {
                padding-top: 2.1rem;
                padding-bottom: 2.1rem;
                width: 50%;
                @include breakpoint($lg-bp) {
                    padding: 1.5rem 0;
                    padding-left: 0.8rem;
                    color: #000000;
                }
            }
        }
    }
}

.specificationsBanner {
    width: 87.35rem;
    height: 8.2rem;
    background: #B71A1B;
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    line-height: 120%;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    padding-right: 8.4rem;
    align-items: center;

    @include breakpoint($lg-bp) {
        display: none;
        }
}



.specificationsBannerMobile {
    display: none;

    @include breakpoint($lg-bp) {
        display: flex;
        background: #B71A1B;
        width: 100%;
        height: max-content;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #FFFFFF;
        justify-content: space-between;
        align-items: center;
        height: 8rem;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        }

    .specificationsBannerMobileText {
        @include breakpoint($sm-bp) {
            width: 17.3rem;
            height: 4.8rem;
        }
    }
    
}

.specificationsContainer {

    width: 100%;
    max-width: 130rem;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15rem;

    .main {
        font-family: 'Montserrat';
        font-style: normal;
        margin-top: 6rem;
        overflow: hidden;
        thead {
            td {
                
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 100%;
                color: #000000;
                padding-bottom: 3rem;
            }
        }

        tbody {
            
            tr {
                display: flex;
                gap: 25.1rem;
                margin-bottom: 2rem;

                @include breakpoint($lg-bp) {
                    gap: 17rem;
                }

                @include breakpoint($sm-bp) {
                    flex-direction: column;
                    gap: 0.4rem;
                }

                td:first-child {
                    width: 16rem;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 100%;
                    color: rgba(0, 0, 0, 0.5);
                }

                td:last-child {
                    width: 45.5rem;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 100%;
                    color: #000000;
                    @include breakpoint($sm-bp) {
                        width: 35rem;
                    }

                    a {
                        color: #0866BD;
                    }
                    
                }
            }
        }
    }
}

.mediaBannerContainer {
    background-color: #000000;
    display: flex;
    @include breakpoint($lg-bp) {
        flex-direction: column;
    }

    .mediaBannerConnectContainer {
        display: flex;
        flex-direction: column;
        gap: 2.7rem;
        justify-content: center;
        margin-left: 5.2rem;

        @include breakpoint($lg-bp) {
            margin-left: none;
            justify-content: center;
            align-items: center;
            margin-bottom: 2.2rem;
        }

        @include breakpoint($sm-bp) {
            margin-left: unset;
            justify-content: center;
            align-items: center;
            margin-bottom: 2.2rem;
            margin-left: 0.8rem;
            margin-right: 0.8rem;
        }
    }

    .mediaBannerConnectText {
        width: 59.5rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 140%;
        color: #FFFFFF;
        opacity: 0.8;

        @include breakpoint($lg-bp) {
            flex-direction: column;
        }

        @include breakpoint($sm-bp) {
            width: 100%; 
            padding: 0rem;
            padding-left: 1.2rem;
            padding-right: 0.8rem;
        }
    }

    button {
        background: #E30613;
        color: #FFFFFF;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
        border: none;
        width: 28.5rem;
        height: 5.6rem;

        @include breakpoint($sm-bp) {
            width: 100%; 
            padding: 0rem;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
        }
    }

    .mediaBanner {
        width: 94.25rem;
        height: 24.3rem;
        background-image: url(../images/article/Rectangle.svg);
        background-color: #B71A1B;
        clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 3rem;
        line-height: 120%;
        color: #FFFFFF;
        display: flex;
        justify-content: flex-end;
        padding-right: 8.4rem;
        align-items: center;
        @include breakpoint($sm-bp) {
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 0rem;
            height: 19.2rem;
        }

        @include breakpoint($lg-bp) {
            justify-content: center;
            background: #B71A1B;
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
        }

    
        .mediaBannerText {
            width: 49.9rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 140%;
            color: #FFFFFF;
            @include breakpoint($lg-bp) {
                text-align: center;
            }

            @include breakpoint($sm-bp) {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 2.2rem;
                text-align: center;
                color: #FFFFFF;
                width: 24.8rem;
            }
        }
    }
}


.mediaBannerRandom {
    margin-bottom: 10.3rem;
    margin-top: 4.5rem;
    width: 100%;
    max-width: 130rem;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 5.3rem;
    font-family: 'Montserrat';
    font-style: normal;

    p {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 120%;
        color: #000000;
        margin-bottom: 1.7rem;
    }

   ul {

    ul {
        li {
            list-style-type: disc;
            margin-left: 1.5rem;
        }
    }

    li {
        list-style: auto;
    }

    span {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 120%;
        color: #454545; 
        
    }

    .output {
        li {
            
            margin-left: 1.5rem;
            color: #e3061583;

            span {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 120%;
                color: #454545;
            }
        }
        
    }
    li {
        
        color: #e3061583;
    }
   }
}

.helpNewsBannerContainer {

    .product-section__heading {
    width: max-content;

    position: relative;

    top: -5.1rem;
    left: -33rem;

    padding: 2.3rem 0;
  
    background-color: #2E2A2B;
  
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
  
    @include breakpoint($lg-bp) {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      width: 100%;
  
      clip-path: none;
      padding: 2rem 5rem;
      margin-bottom: 0;
  
      cursor: pointer;
    }
  
    @include breakpoint($sm-bp) {
      padding: 2.8rem 0.8rem;
    }
  
    h2 {
      font-weight: 300;
      font-size: 3rem;
      color: white;
  
      margin-left: 33rem;
      margin-right: 7.8rem;
  
      @include breakpoint($lg-bp) {
        text-align: left;
  
        margin: unset;
      }
  
      @include breakpoint($sm-bp) {
        max-width: unset;
  
        font-size: 2rem;
      }
    }
  
    svg {
      display: none;
  
      width: 2.4rem;
      height: 2.4rem;
  
      fill: #fff;
  
      transform: rotate(-90deg);
  
      @include breakpoint($lg-bp) {
        display: block;
      }
    }
  
    &.active {
      svg {
        transform: rotate(90deg);
      }
    }
    }
    
  }


  .helpProductSpec {

    .product-section__inner {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
  }