.breadcrumb-wrapper {
  min-height: 3rem;

  display: flex;
  align-items: center;

  margin-top: 2.4rem;
  margin-bottom: 5rem;

  @include breakpoint($sm-bp) {
    display: none;
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumb a::after {
  content: "/";
  padding: 0 0.7rem;
  color: $black;
}

.breadcrumb span,
.breadcrumb a {
  font-weight: 300;
  font-size: 1.6rem;
  color: $black;

  transition: all 0.2s linear;
}

.breadcrumb a:hover {
  color: $primary;
}
