.contacts {
  margin-bottom: 30rem;

  @include breakpoint($lg-bp) {
    margin-bottom: 15rem;
  }

  @include breakpoint($sm-bp) {
    margin-top: 2rem;
    margin-bottom: 8.8rem;
  }
}

.contacts__info {
  display: flex;

  margin-bottom: 4rem;
}

.contacts-data {
  margin-right: 12rem;
  padding-left: 4rem;

  border-left: 0.1rem solid #dadada;

  @include breakpoint($lg-bp) {
    margin-right: 4rem;
    padding-left: 2rem;
  }

  @include breakpoint($sm-bp) {
    margin-right: 0;
    padding-left: 0;

    border-left: none;
  }
}

.contacts-data__item {
  display: grid;
  row-gap: 1rem;

  width: 100%;
  max-width: 27rem;

  font-weight: 300;

  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
  }

  & + & {
    margin-top: 3.4rem;
  }
}

.contacts-data__item-heading {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  color: rgba(36, 14, 14, 0.5);

  margin-bottom: 0.2rem;
}

.contacts-data__item-mail {
  font-weight: 500;
  color: #007dc4;
}

.contacts-req {
  @include breakpoint($sm-bp) {
    margin: 0 -0.8rem 6rem;
  }
}

.contacts-req__heading {
  @include breakpoint($sm-bp) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 8rem;

    color: white;
    font-weight: 300;
    font-size: 2rem;
    cursor: pointer;

    padding-left: 2rem;
    padding-right: 1.7rem;

    background-color: $primary;

    &.active {
      svg {
        transform: rotate(-90deg);
      }
    }
  }

  & svg {
    display: none;

    width: 2.4rem;
    height: 2.4rem;

    fill: white;

    transform: rotate(90deg);

    @include breakpoint($sm-bp) {
      display: block;
    }
  }
}

.contacts-req__inner {
  @include breakpoint($sm-bp) {
    margin: 0 0.8rem;

    max-height: 0;
    overflow: hidden;
  }
}

.contacts-req__item {
  display: grid;
  grid-template-columns: 1fr 44rem;
  column-gap: 1.2rem;

  width: 100%;
  max-width: 70rem;

  & + & {
    margin-top: 1.6rem;
  }

  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
    row-gap: 0.4rem;
  }
}

.contacts-req__item-prop {
  color: rgba(0, 0, 0, 0.5);

  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: top 1.4rem center;
  background-size: 0.5rem 0.2rem;
  background-repeat: repeat-x;

  @include breakpoint($sm-bp) {
    background: none;
  }

  span {
    display: inline-block;

    font-weight: 300;

    padding-right: 0.6rem;

    background-color: #fff;
  }
}

.contacts-req__item-value {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #000;
}

.contacts-map {
  width: 100%;
  max-width: 83.5rem;
  height: 44rem;

  @include breakpoint($lg-bp) {
    max-width: 46.5rem;
    height: 35rem;
  }

  @include breakpoint($sm-bp) {
    display: none;
  }
}

.contacts-req__map-wrapper {
  display: none;

  @include breakpoint($sm-bp) {
    display: block;
  }

  & .page-heading {
    margin-left: 0.8rem;
  }
}

.contacts-req__map {
  width: 100%;
  height: 40rem;
}
