.page {
  margin-top: 43rem;

  @include breakpoint($lg-bp) {
    margin-top: 15rem;
  }

}

.close-button {
  position: relative;
  border: 0;
  background-color: unset;
  padding: 0;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0.1rem;
    background-color: $black;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

#exampleModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-height: min-content;
    z-index: 3;
    button.filled-btn {
      margin-top: 2rem;
    }
    .close-button {
      position: absolute;
      top: 2rem;
      right: 3rem;
      width: 3rem;
      height: 3rem;
      @include breakpoint($sm-bp) {
        top: 1.5rem;
        right: 1.5rem;
        width: 2rem;
        height: 2rem;
      }
    }
    @include breakpoint($sm-bp) {
      width: calc(100% - 2rem);
    }
  }
  .req-item {
    display: grid;
    row-gap: 1.2rem;
  
    // & + & {
    //   margin-top: 2.4rem;
    // }
  
    input {
      width: 100%;
      max-width: 84rem;
      min-width: 50rem;
      @include breakpoint($sm-bp) {
        min-width: unset;
      }
    }
  }
  input {
    height: 4rem;

    padding: 0 1.5rem;

    border: 0.1rem solid #dadada;
    @include breakpoint($sm-bp) {
      height: 5rem;
    }
  }

  label {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1;
    color: #240E0E;

    @include breakpoint($sm-bp) {
      font-size: 1.6rem;
    }
  }
}

.search {
  z-index: 4;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 100%);

  width: 40rem;
  background-color: #FFFFFF;
  padding: 2rem;
  padding-top: 2rem;
  box-shadow: 0px 0.04rem 2.4rem rgba(0, 0, 0, 0.15);
  @include breakpoint($lg-bp) {
    right: 50%;
    transform: translate(50%, 100%);
    width: calc(100% - 2rem);
  }
  .search__title {
    padding-bottom: 1rem;
  }
  .search__container {
    position: relative;
  }
  .search__input {
    padding-left: 1rem;
    padding-right: 4rem;
    width: 100%;
    height: 4rem;
    border: 1px solid #DADADA;
  }

  .search__button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;

    svg {
      transform: translateY(.2rem);
      width: 2.8rem;
      height: 2.8rem;

      stroke: #DADADA;
      fill: transparent;
  }
  }
}

.search--hidden {
  opacity: 0;
  transform: translate(-100%, 100%);
}

header {
  overflow: visible;
  @include breakpoint($lg-bp) {
    overflow: visible;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 6rem 0 4.2rem;

  background: url(../images/header-bg.png) no-repeat;
  background-size: cover;

  transition: all 0.5s ease;

  z-index: 3;
  @include breakpoint($lg-bp) {
    padding: 0;
    height: 14rem;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
  }
  
  .headerButton {
    @include breakpoint($lg-bp) {
      display: none;
    }
  }

  .helper {
    @media (min-width: 920px){
      position: relative;
    }
    
  }

  .container {
    max-width: none;
    padding: 0;
    margin: 0;
  }

  .header__top {
    display: flex;
    align-items: center;
    max-width: 130rem;
    margin: 0 auto;
    margin-bottom: 11rem;
    @include breakpoint($cos-bp) {
      max-width: 125rem;
    }

    @include breakpoint($lg-bp) {
      display: none;
    }
  }
  
  .header__logo-link:hover {
    svg {
      fill: $primary;
    }
  }
  
  .header__logo {
    margin-right: 12.5rem;
  }
  
  .header__logo-icon {
    width: 40.7rem;
    height: 11.3rem;
  
    fill: white;
  
    margin-bottom: 1.7rem;
  }
  
  .header__logo-descr {
    font-size: 2rem;
    line-height: 1.4;
    color: white;

    @include breakpoint($lg-bp) {
      display: none;
    }
  }
  
  .header__top-links {
    display: flex;
    margin-top: 5rem;
    gap: 3.2rem;

    @include breakpoint($lg-bp) {
      display: none;
    }
  }
  
  .header__top-link {
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
  
    border-bottom: 0.1rem dashed white;
  
    & + & {
      margin-left: 3.2rem;
    }
  }
  
  .header__bottom {
    
    // position: relative;

    .helpPozContainer {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      max-width: 130rem;
      padding-left: 2rem;
      @include breakpoint($cos-bp) {
        max-width: 125rem;
        padding-left: 0;
      }

      @include breakpoint($lg-bp) {
        margin-left: 1rem;
        margin-right: 1rem;
        .mobileLogoLink {
          display: block;
        }
      }
      
    }
  
    .mobileLogoLink {
      fill: #FFFFFF;
      width: 12.7rem;
      height: 3.5rem;

      .mobileLogo {
        width: 12.7rem;
        height: 3.5rem;
      }
      display: none;
    }
  }
  
  .header__catalog-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 25.6rem;
  
    margin-right: 8rem;
  
    svg {
      width: 2.4rem;
      height: 2.4rem;
  
      fill: white;
  
      margin-right: 1.8rem;
    }
  
    &:hover {
      svg {
        fill: $primary;
      }
    }
  }
  
  .header__nav {
    display: flex;
    gap: 6rem;

    @include breakpoint($lg-bp) {
      display: none;
    }

  }
  
  .header__nav-link {
    color: white;
  
    & + & {
      margin-left: 6rem;
    }
  }
  
  .header__btns {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
    @include breakpoint($lg-bp) {
      gap: 2rem;
    }
  
    svg {
      width: 2.8rem;
      height: 2.8rem;
    }

    .burgerIcon {
      background: none;
      border: none;

      svg {
        
        fill: #FFFFFF;
        display: none;
        @include breakpoint($lg-bp) {
          display: block;
        }
      }
    }
  }
  
  .header__search {
    margin-right: 2.4rem;
  
    background-color: transparent;
    border: none;
    @include breakpoint($lg-bp) {
      margin-right: 0;
    }

    svg {
      stroke: rgba(255, 255, 255, 0.4);
      fill: transparent;
  
      &:hover {
        stroke: white;
      }
    }
  }
  
  .header__compare {
    svg {
      fill: rgba(255, 255, 255, 0.5);
  
      &:hover {
        fill: white;
      }
    }
  }
}

/////////////////////////////////////////////////////////////

.hiddenHeader {
  display: none;
  transition: all 0.5s;
  transform: translateY(0);
  
  @include breakpoint($lg-bp) {
    transform: translateY(-15rem);
  }
  
}


.hiddenHeaderHelp {
  display: none;
}

// .showHeader {
//   display: block;
  
//   transition: all 0.5s;
// }



.headerTransform {  
  background: url(../images/header-bg.png) no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 11;
  transform: translateY(-9rem);
  
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 0;
  transition: all 0.5s ease;
  @include breakpoint($lg-bp) {
    height: 14rem;
  }

  .headerButton {
    // margin-left: 10rem;

    @include breakpoint($lg-bp) {
      display: none;
    }
  }

  .header__btns {
    // margin-left: 40rem;

    .burgerIcon {
      background: none;
      border: none;

      svg {
        
        fill: #FFFFFF;
        display: none;
        @include breakpoint($lg-bp) {
          display: block;
        }
      }
    }
  }

  .container {
    max-width: none;
    padding: 0;
    margin: 0;
  }

  #hid {
    display: none;
  }
  
  .header__top {
    display: flex;
    align-items: center;
    margin-bottom: 11rem;
    display: none;

    padding-left: 2rem;
    @include breakpoint($lg-bp) {
      padding-left: 0;
    }

  }
  
  .header__logo-link:hover {
    svg {
      fill: $primary;
    }
  }
  
  .header__logo {
    margin-right: 12.5rem;
    display: none;
  }
  
  .header__logo-icon {
    width: 40.7rem;
    height: 11.3rem;
  
    fill: white;
  
    margin-bottom: 1.7rem;
  }
  
  .header__logo-descr {
    font-size: 2rem;
    line-height: 1.4;
    color: white;
  }
  
  .header__top-links {
    display: none;
  
    margin-top: 5rem;
  }
  
  .header__top-link {
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
  
    border-bottom: 0.1rem dashed white;
  
    & + & {
      margin-left: 3.2rem;
    }
  }
  
  .header__bottom {
    
    position: relative;

    .helpPozContainer {
      display: flex;
      align-items: center;
      gap: 10rem;

      
      
      @include breakpoint($hm-bp) {
        gap: 5rem;
      }

      @include breakpoint($lg-bp) {
        justify-content: space-between;
      }

    }
  
    .mobileLogoLink {
      fill: #FFFFFF;
      width: 12.7rem;
      height: 3.5rem;
      margin-left: 10rem;

      @include breakpoint($hm-bp) {
        margin-left: 1rem;
      }

      .mobileLogo {
        @include breakpoint($lg-bp) {
          width: 13.3rem;
          height: 3.7rem;
        }
      }

      .mobileLogo {
        width: 12.7rem;
        height: 3.5rem;
      }
      display: block;
    }
  }
  
  .header__catalog-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 25.6rem;
  
    margin-right: 8rem;
  
    svg {
      width: 2.4rem;
      height: 2.4rem;
  
      fill: white;
  
      margin-right: 1.8rem;
    }
  
    &:hover {
      svg {
        fill: $primary;
      }
    }
  }
  
  .header__nav {
    display: flex;
    gap: 6rem;

    @include breakpoint($lg-bp) {
      display: none;
    }
  }
  
  .header__nav-link {
    color: white;
  
    & + & {
      margin-left: 6rem;
    }
  }
  
  .header__btns {
    display: flex;
    align-items: center;
  
    @include breakpoint($lg-bp) {
      gap: 2rem;
    }

    svg {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
  
  .header__search {
    margin-right: 2.4rem;
  
    background-color: transparent;
    border: none;
    
    @include breakpoint($lg-bp) {
      margin-right: 0;
    }
    svg {
      stroke: rgba(255, 255, 255, 0.4);
      fill: transparent;
  
      &:hover {
        stroke: white;
      }
    }
  }
  
  .header__compare {
    svg {
      fill: rgba(255, 255, 255, 0.5);
  
      &:hover {
        fill: white;
      }
    }
  }
}


.out {
  transition: transform 0.5s ease;
  transform: translateY(0);
}
.have {
  transition: transform 0.3s ease;
  transform: translateY(-9rem);
}
.trans {
  transition: transform 0.5s ease;
}
.headerMobile {
  display: block;
  width: 100%;
	transition: all 0.3s ease;

  z-index: 11111;


  background-image: url(/assets/images/backgroundHeaderMobile.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  // height: 27.5rem;

  @include breakpoint($lg-bp) {
    display: block;
  }

  .mainContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4.5rem;
  }

  .iconsContainer {
    margin-top: 3.3rem;
    margin-right: 0.8rem;
  }

  .logoContainerHeader {
    margin-top: 1.6rem;
    margin-left: 0.8rem;
    .mobileLogo {
      width: 13.3rem;
      height: 3.7rem;
      fill: white;
      
  
    }
  }

  .hiddenHeader2 {
    
  }

  .searchIco {
    background-color: transparent;
    border: none;

  svg {
    stroke: rgba(255, 255, 255, 0.4);
    fill: transparent;
    width: 2.4rem;
    height: 2.4rem;
    &:hover {
      stroke: white;
    }
  }
  }

  .compare {

    margin-bottom: 0;
    svg {
      fill: rgba(255, 255, 255, 0.5);
      width: 2.4rem;
      height: 2.4rem;
      &:hover {
        fill: white;
      }
    }
  }

  .burgerBtn {
    background-color: transparent;
    border: none;

  svg {
    stroke: rgba(255, 255, 255, 0.4);
    fill: transparent;
    width: 2.4rem;
    height: 2.4rem;
    &:hover {
      stroke: white;
    }
  }
  }

}


@include breakpoint($lg-bp) {
  .navigation__fixed {
    .headerMobile {
        position: fixed;
        top: 0;
        width: 100%;
        // transition: all .3s ease;
    }
    main {
        margin-top: 10.8rem;
    }
  }
  
  .navigation__fixed.navigation__hidden {
    .headerMobile {
        top: -10.8rem;
        // transition: all .3s ease;
    }
    main {
        margin-top: 10.8rem;
    }
  }
}


.desctopSlickyHeader {
  background-color: #231F20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10.2rem;
  padding-right: 33rem;
  width: 100%;
  @include breakpoint($xl-bp) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .leftContainer {
    display: flex;
  }

  .header__logo {
    display: flex;
    align-items: center;
  }

  .header__logo-icon {
    width: 12.7rem;
    height: 3.5rem;
    margin-bottom: 0;
  }

  .header__catalog-btn {
    width: 23.8rem;
    height: 5.6rem;
  }

  .header__nav {
    font-size: 1.6rem;
    line-height: 2.4rem;
    gap: 5rem;
    align-items: center;
    a {
      margin-left: 0;
    }
  }

  .header__search {
    svg {
      width: 2.8rem;
      height: 2.8rem;
    }
    
  }

  .header__compare {
    svg {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}


.headerMob {
  position: absolute;
  width: 100%;
  z-index: 99999;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  &.can-animate {
    transition: transform 0.3s ease, visibility 0s 0.3s linear;
  }
  &.is-fixed {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    transform: translate3d(0, -100%, 0);
    display: flex;
  }
  &.scroll-up {
    transform: translate3d(0, 0, 0);
  }
}
.sect {
  display: flex;
  justify-content: center;
  align-items: center;
}




.slickyContainer {
  position: absolute;
  width: 100%;
  z-index: 99999;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);

  @include breakpoint($lg-bp) {
    display: none;
  }



  &.can-animate {
    transition: transform 0.3s ease, visibility 0s 0.3s linear;
  }
  &.is-fixed {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    transform: translate3d(0, -100%, 0);
    display: flex;
    top: 0;
    @include breakpoint($lg-bp) {
      display: none;
    }
  }
  &.scroll-up {
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 920px) {
.helper {
  background: #231F20;
  display: none;
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #FFFFFF;
  min-height: 100vh;
  // height: max-content;
  border-top: 0.2rem solid #393536;
  z-index: 10;
  width: 100vw;
  top: 5.6rem;
  left: 0;

  @include breakpoint($lg-bp) {
    display: none;
  }

    .activeBackground {
      background: #ffffff1f;
    }

  .menuContainer {
    z-index: 2;
    display: flex;


    .menuTabsContainer {
      border-right: 0.2rem solid #393536;
      white-space: nowrap;
      height: 100vh;
  
      .generalTabs {
        display: flex;
        gap: 2.8rem;
        border-bottom: 0.2rem solid #393536;
        padding-top: 4rem;
        margin-left: 5.5rem;
        
        .changeCategory {
          background: none;
          border: none;
          font-weight: 300;
          font-size: 1.6rem;
          line-height: 2rem;
          color: #FFFFFF;
          padding-bottom: 0.9rem;
        }

        .changeCategoryActive {
          border-bottom: 0.3rem solid #E30613;
        }
      }
  
      #categoryTab3 {
        flex-direction: unset;

        
      }

      .lettersHelp {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
  
      .menuTabs {
        display: none;
        flex-direction: column;
        margin-top: 1.8rem;
        gap: 1rem;
  
        .menuControlTitle {
          border: none;
          background: none;
          display: none;

          .letters {
            color: #FFFFFF;
          }
          
          
  
          .imgTextContainer {
            display: flex;
            gap: 2rem;
            align-items: center;
            padding-left: 5.5rem;
  
  
            svg {
              width: 2.8rem;
              height: 2.8rem;
              fill: #ffffff83;
            }
  
            p {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 400;
              font-size: 1.6rem;
              line-height: 2rem;
              color: #FFFFFF;
            }
          }

          .Fix {
            padding-right: 5.5rem;
          }
        }

        

        .menuControlTitle {
          display: block;
        }
      }

      .menuTabsActive {
        display: flex;
      }

      .menuTabsHidden {
        display: none;
      }

      
  
    }

    

    .menuContentContainer {
      display: none;
      height: 74vh;
      padding-left: 10rem;
      justify-content: center;
      gap: 1rem;
      margin-top: 4rem;

      .column {
        

        .textContainer {
          margin-bottom: 2rem;

          .titleText {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2rem;
            color: #FFFFFF;
            margin-bottom: 1.6rem;
          }

          .Help {
            font-size: 4rem;
            line-height: 5rem;
          }

          .text {
            
            a {
              
              p {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2.6rem;
                color: #FFFFFF;
                opacity: 0.7;
              }

              p:hover {
                color: #E30613;
                transition: all 0.2s;
              }

            }

            
          }
        }
      }
    }

    .menuContentContainer::-webkit-scrollbar {
      width: 0;
    }

    .menuContentContainerActive {
      padding-top: 1rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @include breakpoint($gm-bp) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

  }
}
}


@media (max-width: 920px){
  .helper {

  
  background: #231F20;
  display: none;
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #FFFFFF;
  height: 100vh;
  border-top: 0.2rem solid #393536;
  z-index: 10;
  width: 100vw;
  top: 10rem;

  .activeBackground {
    background: #ffffff1f;
  }


  .menuContainer {

    .menuTabsContainer {

      .generalTabs {

        display: flex;
        margin-top: 1.6rem;
        gap: 2.4rem;
        justify-content: center;
        border-bottom: 0.2rem solid #393536;

        .changeCategory {
          background: none;
          border: none;
          font-weight: 300;
          font-size: 1.4rem;
          line-height: 2rem;
          color: #FFFFFF;
          padding-bottom: 0.9rem;
        }

        .changeCategoryActive {
          border-bottom: 0.3rem solid #E30613;
        }
      }

      .generalTabsHidden {
        display: none;
      }


      .menuTabs {
        display: none;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1.2rem;
        height: 100%;


        .helpArrowContainer {
          display: flex;
          align-items: center;

          .arrowBack {
            width: 1rem;
            height: 1rem;
            margin-left: 1rem;
            border-top: 0.2rem solid #FFFFFF;
            border-right: 0.2rem solid #FFFFFF;
            transform: rotate(225deg);
            display: none;
          }

          .arrowBackActive {
            display: block;
          }


          .menuControlTitleBack {
            .arrow {
              display: none;
            }
          }


          .menuControlTitle {
            background: none;
            border: none;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            

            .imgTextContainer {
              display: flex;
              gap: 1.2rem;
              align-items: center;

              svg {
                width: 2rem;
                height: 2rem;
                fill: #ffffff83;
              }

              p {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2rem;
                color: #FFFFFF;
                text-align: start;
              } 
            }


            .arrow {
              width: 1rem;
              height: 1rem;
              border-top: 0.2rem solid #FFFFFF;
              border-right: 0.2rem solid #FFFFFF;
              transform: rotate(45deg);
            }
          }

          .menuControlTitleHidden {
            display: none;
          }
        }

        .helpArrowContainerHidden {
          display: none;
        }

        .helpArrowContainerTransform {
          display: flex;
          background: #2E2A2B;
          height: 6.4rem;
          gap: 2rem;


          .arrow {
            display: none;
          }

          .arrowBack {
            display: block;
          }

          .menuControlTitle {
            justify-content: center;
            .imgTextContainer {

              svg {
                display: none;
              }

              p {
                font-weight: 300;
                font-size: 1.4rem;
                line-height: 2rem;
                text-align: center;
                color: #FFFFFF;
              }
            }
          }
          
        }


        .helpArrowContainerTransformHidden {
          display: none;
        }

      }

      .menuTabsActive {
        display: flex;
      }

      #categoryTab3 {
        flex-direction: unset;
      }

      .lettersHelp {
        width: 50%;
      }

    }


  }

  .menuContentContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    .column {
      display: flex;
      flex-direction: column;
      .textContainer {
        

        .arrowBackTitleContainer {
          display: flex;
          
          
          border-bottom: 0.2rem solid #393536;

          .arrowBack2 {
            width: 1rem;
            height: 1rem;
            margin-left: 1rem;
            border-top: 0.2rem solid #FFFFFF;
            border-right: 0.2rem solid #FFFFFF;
            transform: rotate(225deg);
            display: none;
          }

          

          .titleText {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            width: 100%;
            
            

              p {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2rem;
                color: #FFFFFF;
                display: flex;
                align-items: center;
              }

              .arrow {
                width: 1rem;
                height: 1rem;
                border-top: 0.2rem solid #FFFFFF;
                border-right: 0.2rem solid #FFFFFF;
                transform: rotate(45deg);
              }    
          }

          

          .titleTextHidden {
            display: none;
          }

        }

        .arrowBackTitleContainerHidden {
          display: none;
        }

        .arrowBackTitleContainerTransform {
          display: flex;
          align-items: center;
          gap: 1rem;
          height: 5rem;
          background: #2E2A2B;

          .arrowBack2 {
            display: block;
          }

          .titleText {

            .arrow {
              display: none;
            }
          }

        }

        .text {
          display: none;
          
          a {
            display: flex;
            align-items: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;
            border-bottom: 0.2rem solid #393536;

            p {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 400;
              font-size: 1.4rem;
              line-height: 2rem;
              color: #FFFFFF;
            }

            .arrow {

              width: 1rem;
                height: 1rem;
                border-top: 0.2rem solid #FFFFFF;
                border-right: 0.2rem solid #FFFFFF;
                transform: rotate(45deg);
            }
          }
        }

        .textActive {
          display: block;
        }
        
      }
    }
  }

  .menuContentContainerActive {
    display: flex;
  }

}
}

.helperActive {
  display: block;
  height: 100vh;
  overflow: scroll;
}

.header__inner {
  z-index: 2;
}
.overFlowAuto {
  overflow: unset;
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}