.procent {
  position: relative;
  &::after {
    content: attr(data-value);
    position: absolute;
    bottom: 2rem;
    transform: translate(100%, 50%);
    right: -1rem;
    @include breakpoint($sm-bp) {
      display: none;
    }
  }
}

.interview-wrapper-low {
  display: grid;
  grid-template-columns: repeat(2, minmax(25rem, 32rem));
  column-gap: 7.4rem;
  row-gap: 2.8rem;
  padding-left: 2.5rem;
  padding-bottom: 2.8rem;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
    gap: 2.4rem;
    padding-bottom: 2.4rem;
    padding-left: 0;
  }
}

.checkbox-block {
  grid-column: 2 span;
  display: flex;
  column-gap: 6.6rem;
  row-gap: 2.7rem;
  flex-wrap: wrap;
  .checkbox-block__item {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    p {
      @include breakpoint($sm-bp) {
        padding-bottom: 1.8rem;
      }
    }
    .questnry-checkbox {
      height: 4rem;
      @include breakpoint($sm-bp) {
        height: auto;
      }
    }
  }
  @include breakpoint($sm-bp) {
    flex-direction: column;
    grid-column: auto;
  }
}

.gr-clm-sp2 {
  grid-column: 2 span;
  display: flex;
  gap: 2rem;
  @include breakpoint($sm-bp) {
    grid-column: auto;
    flex-direction: column;
  }
}
.gr-clm-sp2-flcol {
  grid-column: 2 span;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include breakpoint($sm-bp) {
    grid-column: auto;
    flex-direction: column;
  }
}
.gr-clm-sp2--3cln {
  display: grid;
  grid-template-columns: 40rem 14.2rem 18.2rem;
  column-gap: 4rem;
  label {
    white-space: nowrap;
  }
  input {
    width: 100%;
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: auto;
  }
}

.ml30 {
  margin-left: 3rem;
  @include breakpoint($sm-bp) {
    margin-left: 0;
  }
}
.df2gap {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  @include breakpoint($sm-bp) {
    flex-direction: column;
  }
}

.row {
  flex-direction: row;
}
.df {
  display: flex;
}
.dfgap16 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.mb28 {
  margin-bottom: 2.8rem;
}
.task {
  padding-bottom: 4rem;
}

.questnry-section__box > p {
  padding-bottom: 2rem;
}

.checkbox-container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  row-gap: 2rem;
  column-gap: 4rem;
  @include breakpoint($sm-bp) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}

.dg3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.3rem;
  width: 80%;
  padding-bottom: 6rem;
  @include breakpoint($sm-bp) {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
    width: 100%;
    row-gap: 3rem;
  }
}

.pb40 {
  padding-bottom: 4rem;
}

.w20 {
  width: 20rem;
  @include breakpoint($sm-bp) {
    width: 100%;
  }
}

.fz16 label{
  font-size: 1.6rem!important;
  @include breakpoint($sm-bp) {
    font-size: 1.6rem!important;
  }
}
.dg3col--min {
  grid-template-columns: repeat(3, 12rem);
  column-gap: 10.6rem;
  @include breakpoint($sm-bp) {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.mb60 {
  margin-bottom: 6rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 5rem;
  }
}
.dg3col--twocol {
  grid-template-columns: 12rem 40rem;
  column-gap: 10.6rem;
  @include breakpoint($sm-bp) {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.dg3col--200 {
  grid-template-columns: repeat(3, 20rem);
  column-gap: 8.7rem;
  @include breakpoint($sm-bp) {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.mb100 {
  margin-bottom: 10rem;
}

.pl25 {
  padding-left: 2.5rem;
  @include breakpoint($sm-bp) {
    padding-left: 0;
  }
}

.gap20 {
  row-gap: 1.99rem;
}

.fit-content {
  width: min-content;

  label {
    width: max-content;
    max-width: max-content;
  }
  input {
    min-width: 15rem;
  }
  @include breakpoint($sm-bp) {
    width: 100%;
  }
}

.probka {
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.dfcol {
  @include breakpoint($sm-bp) {
    display: flex;
    flex-direction: column;
  }
}

.desc-hidden {
  display: none;
  @include breakpoint($sm-bp) {
    display: inline;
  }
}

.span2 {
  grid-column: 2 span;
  @include breakpoint($sm-bp) {
    grid-column: auto;
  }
}