<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <nav class="footer-nav">
                <div class="footer-nav__item">
                    <p class="footer-nav__item-heading">Компания</p>
                    <a class="footer-nav__item-link" href="#">Услуги</a>
                    <a class="footer-nav__item-link" href="#">О компании</a>
                    <a class="footer-nav__item-link" href="#">Блог</a>
                    <a class="footer-nav__item-link" href="#">Контакты</a>
                </div>
                <div class="footer-nav__item">
                    <p class="footer-nav__item-heading">Оборудование</p>
                    <a class="footer-nav__item-link" href="#">Бренды</a>
                    <a class="footer-nav__item-link" href="#">Каталог</a>
                </div>
                <div class="footer-nav__item">
                    <p class="footer-nav__item-heading">Для клиентов</p>
                    <a class="footer-nav__item-link" href="#">Опросные листы</a>
                </div>
            </nav>
            <div class="footer-contacts">
                <a class="footer-logo__link" href="#">
                    <svg class="footer-logo">
                        <use href="#logo"></use>
                    </svg>
                </a>
                <a class="footer-contacts__link" href="tel:88001112233">8 (800) 111 22 33</a>
                <a class="footer-contacts__link" href="mailto:info@nordwex.com">info@nordwex.com</a>

                <div class="footer-contacts__soc">
                    <a class="footer-contacts__soc-link" href="#">
                        <svg>
                            <use href="#vk"></use>
                        </svg>
                    </a>
                    <a class="footer-contacts__soc-link" href="#">
                        <svg>
                            <use href="#fb"></use>
                        </svg>
                    </a>
                    <a class="footer-contacts__soc-link" href="#">
                        <svg>
                            <use href="#instagram"></use>
                        </svg>
                    </a>
                </div>
                <button class="footer__order-btn footer__order-btn--mob filled-btn" data-modal="order-modal">Оставить заявку</button>
            </div>
        </div>
        <div class="footer-policy">
            <div class="footer-policy__links">
                <a class="footer-policy__link" href="#">Политика компании в отношении обработки персональных данных</a>
                <a class="footer-policy__link" href="#">Согласие на обработку персональных данных</a>
            </div>
            <button class="footer__order-btn order-btn filled-btn" data-modal="order-modal">Оставить заявку</button>
        </div>
    </div>
</footer>